#big {
	background-color: #041e42;
	width: 400px;
	height: 400px; 
	margin: 10px auto;
	position: relative;
	z-index: 10;
}

#small {
	background-color: #ffc72c;
	width: 200px;
	height: 200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -310px;
	z-index: 20;
}

body {
	background-color: white;
	max-width: 630px;
	margin: 0 auto;
	padding: 0 15px;
}

.forms {
	width: 250px;
	margin: 100px auto;
	padding-top: 10px;
}

input {
	text-align: center;
	position: relative;
	font-size: 20px;
	margin: 0 5px;
}

button {
	width: 100px;
	position: relative;
	font-size: 20px;
	margin: 5px 75px;
}