#big {
	background-color: #041e42;
	width: 400px;
	height: 400px; 
	margin: 0 auto;
	margin-top: 20px;
}

#small {
	background-color: #ffc72c;
	width: 200px;
	height: 200px;
	margin-top: 100px;
	margin-left: 100px;
	position: absolute;
}

body {
	background-color: white;
	max-width: 630px;
	margin: 0 auto;
	padding: 0 15px;
}

.forms {
	width: 150px;
	margin: auto;
	padding: 15px;
}

.center {
	margin: 0 auto;
}