#big {
	background-color: #041e42;
	width: 400px;
	height: 400px; 
	margin: 0 auto;
	margin-top: 20px;
}

#small {
	background-color: #ffc72c;
	width: 200px;
	height: 200px;
	margin-top: 100px;
	margin-left: 100px;
	position: absolute;
}

body {
	background-color: white;
	max-width: 630px;
	margin: 0 auto;
	padding: 0 15px;
}

.forms {
	width: 250px;
	margin: auto;
	padding-top: 10px;
}

textarea {
	text-align: center;
	position: relative;
	font-size: 20px;
	margin: 0 5px;
}

button {
	width: 100px;
	position: relative;
	font-size: 20px;
	margin: 5px 75px;
}